
.sta p,
.stas p,
.peopleList > p {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  height: 40px;
  /* width: 260px; */
  line-height: 40px;
  /* line-height: 30px; */
  border-width: 0px 30px 30px 0px;
  padding-right: 20px;
  border-style: none solid solid;
  /* border-color: transparent transparent #166c7691; */
  border-color: transparent transparent transparent;
  border-radius: 5px 0 0 0;
  vertical-align:text-bottom;
  
  /* font-size: 15px; */
  font-size: 15px;
  text-align: left;
  
  padding: 0 60px 0 0;
  font-weight: 700;
  border:solid 1px red;
}
.chartTitle{
  position: absolute;
  font-size: 15px;
  text-align: left;
  top: 3px;
  left: 5px;
  color: #fff;
  /* background: url('../../static/image/bd-top01.png') no-repeat  right; */
  font-weight: 700;
  padding: 10px 90px 0 0;
}
.chartTitle>div{
  background-color: #FF6A6C;
  width: 5px;
  height: 16px;
  margin: 0 10px;
  float: left;
  border-radius: 5px;
}
.chartTitle h1 {font-size: 15px; font-weight: 700; background: url('../../static/image/bd-top01.png') no-repeat  right; padding: 0 60px 0 0; display: inline-block;}
.stas > label{
  position: absolute;
  top: 35px;
  left: 0;
  color: #bddfff;
  line-height: 30px;
  padding-left: 10px;
  font-size: 15px;
  text-align: left;
}
.stas {
  position: absolute;
  /* z-index: 99999999; */
  width: 420px;
  height: 250px;
  background: rgba(0,56,81,0.5); border: 1px solid #30343a91;overflow: hidden;
}
.stas_top{
  background: url('../../static/image/bd-top.png') no-repeat top left; 
  top:0px;
  left:0px;
  width: 45px;
  height: 18px;
  margin: -1px 0 0 -2px;
}
.stas_bottom{
  position: absolute;
  background: url('../../static/image/bd-bott.png') no-repeat bottom right; 
  right: 0px;
  bottom: 0px;
  height: 22px; 
  width: 70px;
  margin-right:-1px;
  margin-bottom: -1px;
}
.lefttop,.rightbottom,.leftbottom,.righttop{
  border: #8FCAEF 2px solid;
  height:7px;
  width: 7px;
}
.lefttop {
  border-right: 0px;
  border-bottom: 0px;
  top:0px;
}
.righttop{
  border-left: 0px;
  border-bottom: 0px;
  position: absolute;
  right:0px;
  top:0px;
}
.leftbottom{
  border-right: 0px;
  border-top: 0px;
  position: absolute;
  left:0px;
  bottom:0px;
}
.rightbottom{
  border:#8FCAEF 2px solid;
  border-left: 0px;
  border-top: 0px;
  position: absolute;
  right:0px;
  bottom:0px;
  height:7px;
  width: 7px;
}
.centerStas{
  background:-webkit-linear-gradient(left,transparent,#cbb01480,#CBAF14,#cbb01480,transparent);
  border:2px transparent solid;
  border-image:linear-gradient(to right,transparent,#cbb01480,#fdf3f3,#cbb01480,transparent) 1 10;
  border-left: 0px;
  border-right: 0px;
  position: absolute;
}
.centerStas >p{
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  height: 0;
  line-height: 30px;
  padding-left: 10px;
  text-align: left;
  font-weight: bold;
  margin: auto;
}
.centerStas >p>label{
  font-size: 32px;
  color:#00FFFF;
}
.el-table{
  background-color: transparent;
  width: 100%;
  /* top:50px; */
  color: #fff;
  /* margin:5px; */
  /* border:solid 1px red */
}
.el-table .cell{
  line-height: 15px;
  padding-right: 0px;
}
.el-table th, .el-table tr {
  background-color: transparent;
  /* border: 0px; */
}
.el-table__footer-wrapper, .el-table__header-wrapper {
  background-color: #3cb37293;
}
.el-table thead {
  color: #fff;
}
.el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
  border-right: 1px solid #48d1cd4b;
}
.el-table td, .el-table th.is-leaf {
  border-bottom: 1px solid #48d1cd4b;
}
.el-table td{
  /* padding: 8px 0; */
}
.el-table--border, .el-table--group,.el-table--border th, .el-table__fixed-right-patch{
  border: 1px solid #48d1cd4b;
}
.el-table__body tr:hover,.el-table__body tr:active,.el-table__body tr:focus{
  background-color: #ffa60041;
}
.el-table__body tr.current-row>td {
  background-color: #ffa60041;
}
.el-table--enable-row-hover .el-table__body tr:hover>td {
  background-color: #ffa60041;
}
.el-table .cell, .el-table--border td:first-child .cell, .el-table--border th:first-child .cell {
  padding-left: 5px;
}
.el-table th>.cell {
  padding-left: 5px;
  padding-right: 5px;
}
.el-table thead.is-group th {
  background: transparent;
}
.el-table--border::after, .el-table--group::after, .el-table::before {
  background-color: transparent;
}
.el-input__inner{
  background-color: #4c7ece4f;
  color: #bddfff;
}
.el-radio__inner{
  display: none;
}
.el-radio__label {
  font-size: 18px;
  padding-left: 0px;
  /* padding: 10px; */
}
.el-radio__input.is-checked+.el-radio__label {
    color: yellow;
}
* ::-webkit-scrollbar {
  width: 4px!important;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px!important;
}
* ::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 5px!important;
  -webkit-box-shadow: inset 0 0 5px transparent!important;
  background: transparent!important;
}
* ::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px transparent!important;
  border-radius: 0!important;
  background: transparent!important;
}
/*滚动条样式*/
* ::-webkit-scrollbar {/*滚动条整体样式*/
  width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}
* ::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px transparent;
  background: transparent;
}
*::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px transparent;
  border-radius: 0;
  background: transparent;
}
.el-card__header {
  /* padding: 10px; */
  /* border-bottom: 0px; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #515151;
  color: orange;
  font-size: 20px;
}
/* .el-card__body {
  padding: 10px;
} */
.text>label{
  color: yellow;
}
.l7-popup-content{
  z-index: 99;
  background-color: orange;
  /* font-size: 24px; */
}
.l7-popup-close-button{
  display: none;
}
