@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, :after, :before {padding:0; margin:0; box-sizing: border-box;}
h1, h2, h3, h4, h5, h6 {font-weight: 400; font-size: 100%;}
fieldset, img {border: 0;}
ol, ul {list-style: none;}
table {border-collapse:collapse; border-spacing:0;}
address, caption, cite, code, dfn, em, strong, th, var {font-weight: 400; font-style:normal;}
caption, th {text-align:left;}
button {cursor:pointer;}
input {font-size:12px;}
.clear {clear:both;}
.clear:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
select {font-size:1.2rem;}
*,:after,:before {box-sizing: inherit;}

a:link {text-decoration:none; color:#fff;}
a:visited {text-decoration:none;color:#fff;}
a:focus {outline:none;color:#fff;}
a:hover {color:#D7AA34; text-decoration:none;}
a:active {text-decoration:none; color:#fff;}

html {font-size:62.5%;/*10 ÷ 16 × 100% = 62.5%*/ }
body {font:normal 400 18px sans-serif,helvetica,"微软雅黑",arial,simsun;color:#fff;}

.clearfix {display: block;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}



.lo {float:left;}
.ro {float: right;}
.ma_bo24 {margin-bottom: 30px;}

#tbhbox {background:url('../../static/image/bj.png') no-repeat scroll 0 0; background-size: 100%;}
.head-box {background: url('../../static/image/top.png') no-repeat scroll top center; height: 100px; width: 100%; background-size: 100%; margin-bottom: 20px;}
.head-logo {float: left; width: 982px; padding: 0 153px; color: #c1fff7; text-align: center;font-size:45px;font-weight: 900; height: 88px;line-height: 88px;}
.head-nav {float: left; width: 789px; padding: 60px 0 0 0; font-size: 24px; text-align: right; color: #65f9ff;}
#tbhbox .ro {text-align: left; padding-left: 70px;}
.head-nav a {color: #65f9ff; margin:0 20px;  font-weight: 900; display: inline-block;}
#tbhbox .ro > a {}
.head-nav a:hover,
.head-nav a.co {color: #ff9900;text-shadow:#ff9900 0 3px 5px;}

.lef-box {float: left;width: 608px; margin: 0 0 0 32px;}
.cen-box {float: left;width: 1220px;margin: 0 30px;}
.rig-box {float: right;width: 608px;margin-right: 32px;}

.main-box {background: rgba(1,12,91,0.5); border: 1px solid #164686;overflow: hidden; }
.main-box o {display: block;width: 608px;height: 20px;position: absolute;background: url('../../static/image/bd-top.png') no-repeat top left; margin: -2px 0 0 -2px;}
.main-box o:last-child { background: url('../../static/image/bd-bott.png') no-repeat right; height: 30px; margin: -28px 0 0 -1px;}
.cen-box .main-box o {width: 1220px;}

/**
.main-box:before {content:'';position: absolute;width: calc(100% - 40px);height:100%;top: 0;left: 20px;border-top: 1px solid #128CD6;border-bottom: 1px solid #128CD6;pointer-events: none;}
.main-box:after {content:'';position: absolute;height: calc(100% - 40px);width: 100%;top: 20px;left: 0;border-left: 1px solid #128CD6;border-right: 1px solid #128CD6;pointer-events: none;}
.main-box o {display: block;width: 100%;height: 20px;position: absolute;left: 0;}
.main-box o:first-child {top: 0;}
.main-box o:first-child:before {content: '';position: absolute;width: 10px;height: 10px;left: 0;top: 0;border-left: 1px solid #fff;border-top: 1px solid #fff;}
.main-box o:first-child:after {content: '';position: absolute;width: 10px;height: 10px;right: 0;top: 0;border-right: 1px solid #fff;border-top: 1px solid #fff;}
.main-box o:last-child {bottom: 0;}
.main-box o:last-child:before {content: '';position: absolute;width: 10px;height: 10px;left: 0;bottom: 0;border-left: 1px solid #fff;border-bottom: 1px solid #fff;}
.main-box o:last-child:after {content: '';position: absolute;width: 10px;height: 10px;right: 0;bottom: 0;border-right:1px solid #fff;border-bottom: 1px solid #fff;}
**/

.bd {overflow: hidden; padding: 10px 0 0 30px; margin: -2px 0 20px -2px;}
.bd h1 {float: left;font-size: 20px; font-weight: 700; background: url('../../static/image/bd-top01.png') no-repeat right; padding: 0 60px 0 0; display: inline-block;}
.bd .tool {float: right;}
.bd em {color: #ff696c;}
.db {overflow: hidden;z-index: 999; padding: 0 30px 30px 30px;}

/**翻数动画**/

*:first-child + html .clearfix {zoom: 1;}
.fl {	float:left;}
.fr {	float:right;}
.none{	display:none;}
.datanu {font-size: 15px;font-weight: 700; margin:0 0 16px 25px; width: 100%;}
/* #dataNums { overflow: hidden; margin-bottom: 30px;}
.inrow{font-size:0;;font-size:12px;;*font-size:0;font-family:arial;;letter-spacing:-3px;*letter-spacing:normal;*word-spacing:-1px;}
.inrow>li,.inrow span{display:inline-block;*display:inline;*zoom:1;font-size:14px;letter-spacing:normal;word-spacing:normal; }
.dataNums{ display: block; height:150px; text-align:center;}
.dataNums .dataOne{ width:104px; height:150px; margin: 0px 3px; text-align: center; background: url('../../static/image/num-bg1.png') no-repeat; background-size: 100% 100%;}
.dataNums .dataBoc {position: relative; width: 100%; height: 100%; overflow: hidden;}
.dataNums .dataBoc .tt {position: absolute; top: 0;  left: 0; width: 100%;  height: 100%;}
.dataNums .tt span{width:100%;height:100%; font:bold 130px "Arial";color:#ffee28;}

#todayNum .dataNums{ display: block; height:100px; text-align:center;}
#todayNum .dataNums .dataOne{ width:66px; height:80px; margin: 0 1px; text-align: center; background: url('../../static/image/num-bg.png') no-repeat; background-size: 100% 100%;}
.dataNums .dataBoc {position: relative; width: 100%; height: 100%; overflow: hidden;}
#todayNum .dataNums .tt span{width:100%;height:100%; font:bold 70px "Arial";color:#C1FFF7;} */

.datanu {font-size: 20px; font-weight: 700; margin: 0 0 16px 0; width: 100%;}
#dataNums { overflow: hidden; margin-bottom: 30px;}
.inrow{font-size:0;;font-size:12px;;*font-size:0;font-family:arial;;letter-spacing:-3px;*letter-spacing:normal;*word-spacing:-1px;}
.inrow>li,.inrow span{display:inline-block;*display:inline;*zoom:1;font-size:14px;letter-spacing:normal;word-spacing:normal; }
.dataNums{ display: block; height:150px; text-align:center;}
.dataNums .dataOne{ width:104px; height:150px; margin: 0px 3px; text-align: center; background: url('../../static/image/num-bg1.png') no-repeat; background-size: 100% 100%;}
.dataNums .dataBoc {position: relative; width: 100%; height: 100%; overflow: hidden;}
.dataNums .dataBoc .tt {position: absolute; top: 0;  left: 0; width: 100%;  height: 100%;}
.dataNums .tt span{width:100%;height:100%; font:bold 130px "Arial";color:#ffee28;}

#todayNum {}
#todayNum .dataNums{ display: block; height:100px; text-align:center;}
#todayNum .dataNums .dataOne{ width:66px; height:80px; margin: 0 1px; text-align: center; background: url('../../static/image/num-bg.png') no-repeat; background-size: 100% 100%;}
.dataNums .dataBoc {position: relative; width: 100%; height: 100%; overflow: hidden;}
#todayNum .dataNums .tt span{width:100%;height:100%; font:bold 70px "Arial";color:#C1FFF7;}

  
ul.data-2 li {float: left; width: 50%;}
.img-data { background: url('../../static/image/img-bj.png') no-repeat; width: 250px; height: 90px; padding: 15px 0 0 90px; background-size: 100%;}
.img-data h1,
.data-img h1 {text-align: center; font-size: 24px; color: #FFEE28; font-weight: 700;}
.img-data h2,
.data-img h2 {text-align: center; color: #c1fff7;}
.data-img {background: url('../../static/image/img-bj02.png') no-repeat;width: 150px;height: 165px; background-size: 100%; margin: 15px auto 0 auto; padding: 50px 10px 0 10px;}
.data-img h1 { font-size: 28px;}
.data-img h2 {}
ul.data-2 li:last-child {padding: 0 0 0 25px;}
  