
.sta p,
.stas p,
.peopleList > p {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  height: 0;
  /* width: 260px; */
  line-height: 30px;
  padding-left: 10px;
  border-width: 0px 30px 30px 0px;
  padding-right: 20px;
  border-style: none solid solid;
  border-color: transparent transparent #166c7691;
  border-radius: 5px 0 0 0;
  font-size: 15px;
  text-align: left;
}
.stas > label{
  position: absolute;
  top: 35px;
  left: 0;
  color: #bddfff;
  line-height: 30px;
  padding-left: 10px;
  font-size: 15px;
  text-align: left;
}
.stas {
  position: absolute;
  /* z-index: 99999999; */
  width: 420px;
  height: 250px;
  background: #132d377a;
}
.centerStas{
  background:-webkit-linear-gradient(left,transparent,#cbb01480,#CBAF14,#cbb01480,transparent);
  border:2px transparent solid;
  border-image:linear-gradient(to right,transparent,#cbb01480,#fdf3f3,#cbb01480,transparent) 1 10;
  border-left: 0px;
  border-right: 0px;
  position: absolute;
}
.centerStas >p{
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  height: 0;
  line-height: 30px;
  padding-left: 10px;
  text-align: left;
  font-weight: bold;
  margin: auto;
}
.centerStas >p>label{
  font-size: 32px;
  color:#00FFFF;
}
.el-table{
  background-color: transparent;
  width: 100%;
  /* top:50px; */
  color: #fff;
  /* margin:5px; */
  /* border:solid 1px red */
}
.el-table .cell{
  line-height: 15px;
  padding-right: 0px;
}
.el-table th, .el-table tr {
  background-color: transparent;
  /* border: 0px; */
}
.el-table__footer-wrapper, .el-table__header-wrapper {
  background-color: #3cb37293;
}
.el-table thead {
  color: #fff;
}
.el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
  border-right: 1px solid #48d1cd4b;
}
.el-table td, .el-table th.is-leaf {
  border-bottom: 1px solid #48d1cd4b;
}
.el-table td{
  /* padding: 8px 0; */
}
.el-table--border, .el-table--group {
  border: 1px solid #48d1cd4b;
}
.el-table__body tr:hover,.el-table__body tr:active,.el-table__body tr:focus{
  background-color: #ffa60041;
}
.el-table__body tr.current-row>td {
  background-color: #ffa60041;
}
.el-table--enable-row-hover .el-table__body tr:hover>td {
  background-color: #ffa60041;
}
.el-table .cell, .el-table--border td:first-child .cell, .el-table--border th:first-child .cell {
  padding-left: 5px;
}
.el-table th>.cell {
  padding-left: 5px;
  padding-right: 5px;
}
.el-table--border::after, .el-table--group::after, .el-table::before {
  background-color: transparent;
}
.el-input__inner{
  background-color: #4c7ece4f;
  color: #bddfff;
}
.el-radio__inner{
  display: none;
}
.el-radio__label {
  font-size: 20px;
  padding: 10px;
}
.el-radio__input.is-checked+.el-radio__label {
    color: yellow;
}
* ::-webkit-scrollbar {
  width: 4px!important;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px!important;
}
* ::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 5px!important;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2)!important;
  background: rgba(0,0,0,0.2)!important;
}
* ::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2)!important;
  border-radius: 0!important;
  background: rgba(0,0,0,0.1)!important;
}
/*滚动条样式*/
* ::-webkit-scrollbar {/*滚动条整体样式*/
  width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}
* ::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.2);
}
*::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 0;
  background: rgba(0,0,0,0.1);
}